.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: skyblue;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
